db.sqlite3
gymapp/__pycache__/*
/apps/exercises/__pycache__/*
/apps/exercises/migrations/*
/apps/plan_food/__pycache__/*
/apps/plan_food/migrations/*
/apps/gym/__pycache__/*
/apps/gym/migrations/*
/apps/instructor/__pycache__/*
/apps/instructor/migrations/*
/apps/student/__pycache__/*
/apps/student/migrations/*
/apps/training/__pycache__/*
/apps/training/migrations/*
/apps/user/__pycache__/*
/apps/user/migrations/*
