db.sqlite3
gymapp/__pycache__/*
/apps/exercises/__pycache__/*
/apps/exercises/migrations/*
/apps/plans/__pycache__/*
/apps/plans/migrations/*
/apps/gyms/__pycache__/*
/apps/gyms/migrations/*
/apps/students/__pycache__/*
/apps/students/migrations/*
/apps/trainings/__pycache__/*
/apps/trainings/migrations/*
/apps/students/__pycache__/*
/apps/students/migrations/*
